@import "tailwindcss";

.no-select {
  -webkit-user-select: none; /* iOS Safari */
  -webkit-touch-callout: none; /* disables long-press menu on iOS */
  -khtml-user-select: none; /* older Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* standard */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.legibility {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --visible-light: block;
  --visible-dark: none;
  --text-secondary: #606060;

  /* borders */
  --line: #0000001f;

  /* backgrounds */
  --bg-base: #fff;
  --bg-nav: rgb(248, 250, 253);
  --bg-secondary: rgb(245, 245, 245);
  --text-hl: #1976d2;
}

:root[data-theme="dark"] {
  --visible-light: none;
  --visible-dark: block;
  --text-secondary: #aaaaaa;

  /* borders */
  --line: oklab(0.556 0 0 / 0.2);

  /* backgrounds */
  --bg-base: #1a1a1a;
  --bg-nav: rgb(30, 31, 32);
  --bg-secondary: rgb(59, 59, 59);
  --text-hl: #29b6f6;
}

.visible-light {
  display: var(--visible-light);
}
.visible-dark {
  display: var(--visible-dark);
}
.text-secondary {
  color: var(--text-secondary);
}

.lexend-400 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-500 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lexend-600 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
